<%= form :action => url(:login) do -%>
<p>
<%= text_field :name => "email", :label => "Email" %></p>



<p>
<%= password_field :name => "password", :label => "Password" %></p>

<!-- Uncomment this if you want this functionality
<p>
<%= check_box :name => 'remember_me' %></p>
-->

<p><%= submit 'Log in' %></p>
<% end =%>