
    <div id="top">
		<div id="wolf"> </div>
        <div class="header">
           
            

            <div class="search">
                
            </div>
        </div>

        <div class="topNavigation">
            <div class="links">
                
<a href="/folders/1" class="activeLink">Folders</a>


    
    <a href="/user/list">Users</a>
    
    
    <a href="/group/list">Groups</a>
    
 <span class="userSettings"><a href="/user/edit/1">user settings</a>
<a href="/authentication/logout">sign out</a></span>
                
            </div>
        </div>
    </div>

    <div id="middle">
        <div class="actionLinks">
            
    <a href="/folder/new/4">Create folder</a><br />
   


<h1>
	Show List
</h1>

	
<table>

		<% for f in @find_the_other_folders %>
	<tr>
		<td>		
	<form method="post" action="/folders/<%=f.id%>/">
			<input type="hidden" value="delete" type="submit" name="_method">
			<button type="submit"  onclick="return confirm('Are you sure? This will like nuke AALLLLLL files in that folder and you will be to blame if we needed them ');">Delete </button>	
	</form>	    
</td>
<td>
		<strong class="root_links"><a href="/folders/<%= f.id %>"><%= f.title %></a></strong><%#= link_to f.title, url(:folder,f) %>
</td>	
	</tr>
  			<% end %>
</table>
  








        </div>

        <div class="content">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        




<p class="title">
      <%= path(@folder, false) %>
	
	    <a href="#" onclick="ShowProperties();" class="small" id="rights_link">permissions</a>
	    <a href="#" onclick="ShowList();" class="small" id="list_link" style="display:none;">back to folder</a>
	
</p>

<div id="list" style="position:relative;"><div>


zzzfish




<div id="tools">
	<h2>Tools</h2>
	<div class="tools_row">
		<table>
			<tr>
				

			

				<td class="left"><label>Create Sub-folder</label></td>
				<td class="right">
				

					<form method="post" action="/create_sub_folder/<%= @folder.id %>">
						<input type="text" class="text button_style_form makehint" name="folder[title]" value="" id="folder_title"  alt="{display:'Create a new folder'}"/>

					   <button type="submit">Create a Subfolder</button>
					</form>
	

				</td>
			</tr>
			<tr>
				<td class="left"><label>Change Folders name</label></td>
				<td class="right">
				

				<% form_for @folder, :action => url(:folder, @folder) do %>


				<%= text_field :title, :label => '', :class => "button_style_form makehint", :alt => " {display:'Change the name of the folder'}" %>
						<%= submit 'Submit' %>

				<% end %>

				
				
				
				</td>
			</tr>
			<tr>
				<td class="left"><label> Delete Folder </label></td>
				<td class="right">
				
				
					<form method="post" action="/folders/<%=@folder.id%>/">
					  <div><input type="hidden" value="delete" type="submit" name="_method">
						<button type="submit"  onclick="return confirm('Are you sure? This will like nuke AALLLLLL files in that folder and you will be to blame if we needed them ');">Skip Remove The folder </button>
					  </div>
					</form>

				
				</td>
			</tr>
		</table>
	</div><!-- Close the tools_row div -->
</div><!-- Close the Tools div -->	




4 zzzzzzz









<div id="fileuploadbox">



<h2>File Upload: Select your files to upload</h2>

<form action="/folders/<%=@folder.id%>/basefiles" method="post" enctype="multipart/form-data" id="form-demo">
	<fieldset id="demo-fallback">
		<legend>File Upload</legend>
		<p>
			Selected your photo to upload.<br />
			<strong>This form is just an example fallback for the unobtrusive behaviour of FancyUpload.</strong>
		</p>
		<label for="demo-Filedata">
			Upload Photos:

<input type="hidden" name="folder_id" value="237" />
			
			<input type="file" name="Filedata" />
			
			
		</label>
	</fieldset>
 
	<div id="demo-status" class="hide">

	
	<a id="demo-browse-all" href="#"><div id="giant_select_button"><h2>Click here to select your files</h2></div></a> 

			<div id="uploadlistbox">	
	
	
			<a id="demo-upload" href="#"><h4>Click here to upload all them files doggys! </h4></a>
					<a id="demo-clear" href="#"><h5>clear this list of files</h5></a>
	
		
		<div class="push_over">
			<div>
				<strong class="overall-title">Overall progress</strong><br />
				<img src="/images/bar.gif" class="progress overall-progress" />
			</div>
			<div>
				<strong class="current-title">File Progress</strong><br />
				<img src="/images/bar.gif" class="progress current-progress" />
			</div>
		</div><!-- Close the push_over class -->
		
		<div class="current-text"></div>
			<ul id="demo-list"></ul>
	</div>
 

 
</div><!-- Close the uploadlistbox div -->		

</form>

</div><!-- Close the file upload box div -->






<table class="grid folder">
	<tbody>
		<% for f in @find_the_other_folders %>
		
		<tr>
			<td>
					<strong ><a href="/folder/<%= f.title %>">etbuoetu</a></strong><%#= link_to f.title, url(:folder,f) %></strong>
			</td>
			<td>
			</td>
			<td>
				
				<form method="post" action="/folders/<%=f.id%>/">
				  <div><input type="hidden" value="delete" type="submit" name="_method">
			<button type="submit"  onclick="return confirm('Are you sure? This will like nuke AALLLLLL files in that folder and you will be to blame if we needed them ');">Skip Remove The folder </button>
				  </div>
				</form>
				
			</td>
			<td></td>
			<td></td>
		</tr>
		<% end %>
	</tbody>
</table>




				<table cellpadding="0" cellspacing="0" id="example_1_table" class="grid">
					<thead>
						<tr>
							<th>File name</th>
							<th>Size</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% for b in @basefiles %>
							<tr>
								<td><a href="/crapola/<%= b.filename.to_s %>">ttaaacoos <%= b.filename %> </a></td>
								<td><%= b.id %></td>
								<td><a href="/folders/get_readme?name=<%= b.filename %>">ffffoooo<%= b.filename %> </a></td>
								<td>	<a href="/uploads/<%= b.filename %>"><%= b.filename %></a> </td>
								<td>	<% if (b.size.to_i / 1000) <= 999 %>
										<%= b.size.to_i / 1000 %> kbs
											<% else (b.size.to_i / 1000) >= 1000 %>
												<%= a = (b.size.to_i / 1000.0 / 1000.0); "%.1f" % a %> mbs
													<% end %>
								</td>
								<td>
									<form method="post" action="/folders/<%= b.id %>/basefiles/<%= b.id %>">
										<input type="hidden" value="delete" name="_method" />
										<button type="submit">Remove</button>
									</form>
								</td>
							</tr>
							<% end %>
					</tbody>
				</table>



</div></div>



<div id="folder_rights" style="display:none;position:relative;"><div>
    <form action="/folder/update_permissions/4" method="post">
        <table>
            <tr>
                <th></th>
                <th></th>
                <th class="rights">Create</th>
                <th class="rights">Read</th>
                <th class="rights">Update</th>
                <th class="rights">Delete</th>
            </tr>
    
            <tr class="even">
        
        
                <td><img alt="Group_grey" src="/images/group_grey.png?1186082192" /></td>
                <td style="color:#818181;">admins</td>
        
                <td class="rights"><input checked="checked" disabled="disabled" id="create_check_box_1" name="create_check_box[1]" onclick="CheckRead(this.checked, 1)" type="checkbox" value="1" /><input name="create_check_box[1]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" disabled="disabled" id="read_check_box_1" name="read_check_box[1]" onclick="UncheckCreateUpdateDelete(this.checked, 1)" type="checkbox" value="1" /><input name="read_check_box[1]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" disabled="disabled" id="update_check_box_1" name="update_check_box[1]" onclick="CheckRead(this.checked, 1)" type="checkbox" value="1" /><input name="update_check_box[1]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" disabled="disabled" id="delete_check_box_1" name="delete_check_box[1]" onclick="CheckRead(this.checked, 1)" type="checkbox" value="1" /><input name="delete_check_box[1]" type="hidden" value="0" /></td>
            </tr>
    
            <tr class="odd">
        
        
                <td><img alt="Group" src="/images/group.png?1186082192" /></td>
                <td>box</td>
        
                <td class="rights"><input id="create_check_box_3" name="create_check_box[3]" onclick="CheckRead(this.checked, 3)" type="checkbox" value="1" /><input name="create_check_box[3]" type="hidden" value="0" /></td>
                <td class="rights"><input id="read_check_box_3" name="read_check_box[3]" onclick="UncheckCreateUpdateDelete(this.checked, 3)" type="checkbox" value="1" /><input name="read_check_box[3]" type="hidden" value="0" /></td>
                <td class="rights"><input id="update_check_box_3" name="update_check_box[3]" onclick="CheckRead(this.checked, 3)" type="checkbox" value="1" /><input name="update_check_box[3]" type="hidden" value="0" /></td>
                <td class="rights"><input id="delete_check_box_3" name="delete_check_box[3]" onclick="CheckRead(this.checked, 3)" type="checkbox" value="1" /><input name="delete_check_box[3]" type="hidden" value="0" /></td>
            </tr>
    
            <tr class="even">
        
        
                <td><img alt="Group" src="/images/group.png?1186082192" /></td>
                <td>chris</td>
        
                <td class="rights"><input checked="checked" id="create_check_box_6" name="create_check_box[6]" onclick="CheckRead(this.checked, 6)" type="checkbox" value="1" /><input name="create_check_box[6]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" id="read_check_box_6" name="read_check_box[6]" onclick="UncheckCreateUpdateDelete(this.checked, 6)" type="checkbox" value="1" /><input name="read_check_box[6]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" id="update_check_box_6" name="update_check_box[6]" onclick="CheckRead(this.checked, 6)" type="checkbox" value="1" /><input name="update_check_box[6]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" id="delete_check_box_6" name="delete_check_box[6]" onclick="CheckRead(this.checked, 6)" type="checkbox" value="1" /><input name="delete_check_box[6]" type="hidden" value="0" /></td>
            </tr>
    
            <tr class="odd">
        
        
                <td><img alt="Group" src="/images/group.png?1186082192" /></td>
                <td>guess</td>
        
                <td class="rights"><input id="create_check_box_7" name="create_check_box[7]" onclick="CheckRead(this.checked, 7)" type="checkbox" value="1" /><input name="create_check_box[7]" type="hidden" value="0" /></td>
                <td class="rights"><input id="read_check_box_7" name="read_check_box[7]" onclick="UncheckCreateUpdateDelete(this.checked, 7)" type="checkbox" value="1" /><input name="read_check_box[7]" type="hidden" value="0" /></td>
                <td class="rights"><input id="update_check_box_7" name="update_check_box[7]" onclick="CheckRead(this.checked, 7)" type="checkbox" value="1" /><input name="update_check_box[7]" type="hidden" value="0" /></td>
                <td class="rights"><input id="delete_check_box_7" name="delete_check_box[7]" onclick="CheckRead(this.checked, 7)" type="checkbox" value="1" /><input name="delete_check_box[7]" type="hidden" value="0" /></td>
            </tr>
    
            <tr class="even">
        
        
                <td><img alt="Group" src="/images/group.png?1186082192" /></td>
                <td>intern</td>
        
                <td class="rights"><input id="create_check_box_8" name="create_check_box[8]" onclick="CheckRead(this.checked, 8)" type="checkbox" value="1" /><input name="create_check_box[8]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" id="read_check_box_8" name="read_check_box[8]" onclick="UncheckCreateUpdateDelete(this.checked, 8)" type="checkbox" value="1" /><input name="read_check_box[8]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" id="update_check_box_8" name="update_check_box[8]" onclick="CheckRead(this.checked, 8)" type="checkbox" value="1" /><input name="update_check_box[8]" type="hidden" value="0" /></td>
                <td class="rights"><input id="delete_check_box_8" name="delete_check_box[8]" onclick="CheckRead(this.checked, 8)" type="checkbox" value="1" /><input name="delete_check_box[8]" type="hidden" value="0" /></td>
            </tr>
    
            <tr class="odd">
        
        
                <td><img alt="Group" src="/images/group.png?1186082192" /></td>
                <td>see all</td>
        
                <td class="rights"><input checked="checked" id="create_check_box_2" name="create_check_box[2]" onclick="CheckRead(this.checked, 2)" type="checkbox" value="1" /><input name="create_check_box[2]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" id="read_check_box_2" name="read_check_box[2]" onclick="UncheckCreateUpdateDelete(this.checked, 2)" type="checkbox" value="1" /><input name="read_check_box[2]" type="hidden" value="0" /></td>
                <td class="rights"><input checked="checked" id="update_check_box_2" name="update_check_box[2]" onclick="CheckRead(this.checked, 2)" type="checkbox" value="1" /><input name="update_check_box[2]" type="hidden" value="0" /></td>
                <td class="rights"><input id="delete_check_box_2" name="delete_check_box[2]" onclick="CheckRead(this.checked, 2)" type="checkbox" value="1" /><input name="delete_check_box[2]" type="hidden" value="0" /></td>
            </tr>
    
            <tr class="even">
        
        
                <td><img alt="Group" src="/images/group.png?1186082192" /></td>
                <td>see only hubble</td>
        
                <td class="rights"><input id="create_check_box_4" name="create_check_box[4]" onclick="CheckRead(this.checked, 4)" type="checkbox" value="1" /><input name="create_check_box[4]" type="hidden" value="0" /></td>
                <td class="rights"><input id="read_check_box_4" name="read_check_box[4]" onclick="UncheckCreateUpdateDelete(this.checked, 4)" type="checkbox" value="1" /><input name="read_check_box[4]" type="hidden" value="0" /></td>
                <td class="rights"><input id="update_check_box_4" name="update_check_box[4]" onclick="CheckRead(this.checked, 4)" type="checkbox" value="1" /><input name="update_check_box[4]" type="hidden" value="0" /></td>
                <td class="rights"><input id="delete_check_box_4" name="delete_check_box[4]" onclick="CheckRead(this.checked, 4)" type="checkbox" value="1" /><input name="delete_check_box[4]" type="hidden" value="0" /></td>
            </tr>
    
        </table>
        <br>
        <input name="commit" type="submit" value="Save" /> <input id="update_recursively_checked" name="update_recursively[checked]" type="checkbox" value="yes" /><input name="update_recursively[checked]" type="hidden" value="no" /> Apply changes to subfolders
    </form>
</div></div>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="bottom">
        <div class="footer">
&#169; Previous boxroom
        </div>
    </div>


<a href="/folders/get_readme">bite me </a>
http://localhost:4000/uploads/uploading.png

<%# if role_required?('admin') %>
<%#= session[:user] %>
<%# end %>


    <%#= catch_content :for_layout %>


<script type="text/javascript">
window.addEvent('load', function() {
 	new mooStripes('example_1_table', {oddClass:'odd', evenClass:'even'});

	var swiffy = new FancyUpload2($('demo-status'), $('demo-list'), {
		'url': $('form-demo').action,
		'fieldName': 'Filedata',
		'path': '/javascripts/swiff/Swiff.Uploader.swf',
		'onLoad': function() {
			$('demo-status').removeClass('hide');
			$('demo-fallback').destroy();
		}
	});
 
	/**
	 * Various interactions
	 */
 
	$('demo-browse-all').addEvent('click', function() {
		swiffy.browse();
		return false;
	});
 
	$('demo-browse-images').addEvent('click', function() {
		swiffy.browse({'Images (*.jpg, *.jpeg, *.gif, *.png)': '*.jpg; *.jpeg; *.gif; *.png'});
		return false;
	});
 
	$('demo-clear').addEvent('click', function() {
		swiffy.removeFile();
		return false;
	});
 
	$('demo-upload').addEvent('click', function() {
		swiffy.upload();
		return false;
	});
	
	/* hide and show the tools for now */
	var mySlide2 = new Fx.Slide('main_tools').hide();
		$('hide_the_tools').addEvent('click', function(e){
		e = new Event(e);
		mySlide2.toggle();
		e.stop();
	});
				
	
			    /**
			     * Set default options, overrideable from later calls.
			     */
			    SqueezeBox.initialize({
			        size: {x: 550, y: 600}
			    });

			    /**
			     * Assign SqueezeBox to all links with rel="boxed" attribute, the class then reads the "href".
			     */
			
			SqueezeBox.assign($('puck'), {
					size: {x: 700, y: 650},
					handler: 'adopt' // we set a handler to disable handler/parser detection
				});
					$('puck').addEvent('click', function(e){
					e = new Event(e);
					mySlide2.toggle();
					e.stop();   
				});
				

				/* This is to label the inside of the boxes http://lab.digimute.com/ */
				$$('.makehint').each(function(el){        
						var options = Json.evaluate(el.getProperty('alt')) || {};  
						el.value=options.display;  
						if (options.blurColor) el.setStyle(  
						'background-color',options.blurColor);  
						el.addEvent('focus', function(event) {  
						if (options.focusColor) {  
						el.setStyle('background-color',options.focusColor);  
						}  
						if (el.value==options.display){  
						el.value="";  
						}  
						})  
						el.addEvent('blur', function(event) {  
						if (options.focusColor) {  
						el.setStyle('background-color',options.blurColor);  
						}  
						if (el.value==""){  
						el.value=options.display;  
						}  
						});  
						});
						
			
 
});
</script>


<style>


body {
	background-color: green;
}
</style>


<div class="container_12">
			<div id="root">
				<div id="top">
					<div id="logo" class="fix_me"> <h1><span>current folder:</span> <%= @folder.title %></h1> </div>
					
				</div><!-- Close the Top id div -->
				<div id="header"></div>
				
				<div id="content">
		
					<div id="left_sidebar">
								<%for root_f in @root_folders do %>
							<h1>
							<%#= link_to root_f.title, url(:folder,root_f) %></h1>
								<%end%>
					</div><!-- Close the left_sidebar div -->


				<div id="middle_content">
				<div id="navcontainer"></div><!-- Close the navcontainer div -->

				<div id="path_names"> <h3><span>Navigation History:</span>  <%= path(@folder, false) %></h3>
				</div><!-- Close the path_names div -->

<a href="#main_tools" title="Google" rel="boxed" id="puck"><h1>Launch The Uploader Tools in fullscreen window</h1></a>
<h2 id="hide_the_tools">Tools</h2>

<div id="main_tools">



<div id="tools">
	<h2>Tools</h2>
	<div class="tools_row">
		<table>
			<tr>
				

			

				<td class="left"><label>Create Sub-folder</label></td>
				<td class="right">
				

					<form method="post" action="/folders/create_sub_folder/<%= @folder.id %>">
						<input type="text" class="text button_style_form makehint" name="folder[title]" value="" id="folder_title"  alt="{display:'Create a new folder'}"/>

					   <button type="submit">Create a Subfolder</button>
					</form>
	

				</td>
			</tr>
			<tr>
				<td class="left"><label>Change Folders name</label></td>
				<td class="right">
				

				<% form_for @folder, :action => url(:folder, @folder) do %>


				<%= text_field :title, :label => '', :class => "button_style_form makehint", :alt => " {display:'Change the name of the folder'}" %>
						<%= submit 'Submit' %>

				<% end %>

				
				
				
				</td>
			</tr>
			<tr>
				<td class="left"><label> Delete Folder </label></td>
				<td class="right">
				
				
					<form method="post" action="/folders/<%=@folder.id%>/">
					  <div><input type="hidden" value="delete" type="submit" name="_method">
						<button type="submit"  onclick="return confirm('Are you sure? This will like nuke AALLLLLL files in that folder and you will be to blame if we needed them ');">Skip Remove The folder </button>
					  </div>
					</form>

				
				</td>
			</tr>
		</table>
	</div><!-- Close the tools_row div -->
</div><!-- Close the Tools div -->	









<div id="fileuploadbox">



<h2>File Upload: Select your files to upload</h2>

<form action="/folders/<%=@folder.id%>/basefiles" method="post" enctype="multipart/form-data" id="form-demo">
	<fieldset id="demo-fallback">
		<legend>File Upload</legend>
		<p>
			Selected your photo to upload.<br />
			<strong>This form is just an example fallback for the unobtrusive behaviour of FancyUpload.</strong>
		</p>
		<label for="demo-Filedata">
			Upload Photos:

<input type="hidden" name="folder_id" value="237" />
			
			<input type="file" name="Filedata" />
			
			
		</label>
	</fieldset>
 
	<div id="demo-status" class="hide">

	
	<a id="demo-browse-all" href="#"><div id="giant_select_button"><h2>Click here to select your files</h2></div></a> 
				<p>Note: When the ntteduto  ehitheu tiheut iheet hietuih </p>
			<div id="uploadlistbox">	
	
	<a id="demo-browse-images" href="#"><h4>Images </h4></a>
	
			<a id="demo-upload" href="#"><h4>Click here to upload all them files doggys! </h4></a>
					<a id="demo-clear" href="#"><h5>clear this list of files</h5></a>
	
		
		<div class="push_over">
			<div>
				<strong class="overall-title">Overall progress</strong><br />
				<img src="/images/bar.gif" class="progress overall-progress" />
			</div>
			<div>
				<strong class="current-title">File Progress</strong><br />
				<img src="/images/bar.gif" class="progress current-progress" />
			</div>
		</div><!-- Close the push_over class -->
		
		<div class="current-text"></div>
			<ul id="demo-list"></ul>
	</div>
 

 
</div><!-- Close the uploadlistbox div -->		

</form>

</div><!-- Close the file upload box div -->		


</div><!-- Close the main_tools div -->





	
		

		<div id="files_list_array">
			<h2>Files and Folders</h2>






<table class="grid folder">
	<tbody>
		<% for f in @find_the_other_folders %>
		
		<tr>
			<td><strong><%#= link_to f.title, url(:folder,f) %></strong>
			</td>
			<td>
			</td>
			<td>
				
				<form method="post" action="/folders/<%=f.id%>/">
				  <div><input type="hidden" value="delete" type="submit" name="_method">
			<button type="submit"  onclick="return confirm('Are you sure? This will like nuke AALLLLLL files in that folder and you will be to blame if we needed them ');">Skip Remove The folder </button>
				  </div>
				</form>
				
			</td>
			<td></td>
			<td></td>
		</tr>
		<% end %>
	</tbody>
</table>


<table cellpadding="0" cellspacing="0" id="example_1_table" class="grid">
<thead>
<tr>
<th>File name</th>
<th>Size</th>
<th></th>

</tr>
</thead>

<tbody>

<% for b in @basefiles %>

	
<tr>
	<td><a href="/crapola/<%= b.filename.to_s %>">ttaaacoos <%= b.filename %> </a></td>
	
<td><%= b.id %></td>
<td><a href="/folders/get_readme?name=<%= b.filename %>">ffffoooo<%= b.filename %> </a></td>
<td>	<a href="/uploads/<%= b.filename %>"><%= b.filename %></a> </td>
<td>	<% if (b.size.to_i / 1000) <= 999 %>
<%= b.size.to_i / 1000 %> kbs
<% else (b.size.to_i / 1000) >= 1000 %>
<%= a = (b.size.to_i / 1000.0 / 1000.0); "%.1f" % a %> mbs
<% end %>
</td>
<td><form method="post" action="/folders/<%= b.id %>/basefiles/<%= b.id %>">
   <input type="hidden" value="delete" name="_method"/>
   <button type="submit">Remove</button>
 </form>
</td>
</tr>
	<% end %>
</tbody>
</table>




		</div><!-- Close the files_list_array div -->	
</div><!-- Close the middle content div -->




		</div><!-- Close the content div -->
	</div><!-- Close the root id div -->
</div><!-- Close the container_12 div -->


